<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<!-- Basic -->

<head th:replace="~{fragments::head}">


</head>

<body>
<div th:replace="~{fragments::main-top}"></div>
<!-- End Main Top -->

<!-- Start Main Top -->
<header th:replace="~{fragments::main-header}"></header>
<!-- End Main Top -->

<!-- Start Top Search -->
<div th:replace="~{fragments::top-search}">
</div>
<!-- End Top Search -->

<!-- Start Slider -->
<div id="slides-shop" class="cover-slides">
    <ul class="slides-container">
        <li class="text-center">
            <img src="images/BackgroundClothing1.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Welcome To <br> Gentle Suit</strong></h1>
                        <p class="m-b-40">It's not about the suit.<br> It's about the quality of a man in it,</p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-center">
            <img src="images/BackgroundClothing3.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Welcome To <br> Gentle Suit</strong></h1>
                        <p class="m-b-40">It's not about the suit.<br> It's about the quality of a man in it,</p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-center">
            <img src="images/BackgroundClothing6.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Welcome To <br> Gentle Suit</strong></h1>
                        <p class="m-b-40">It's not about the suit.<br> It's about the quality of a man in it,</p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-center">
            <img src="images/BackgroundClothing4.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Welcome To <br> Gentle Suit</strong></h1>
                        <p class="m-b-40">It's not about the suit.<br> It's about the quality of a man in it,</p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="slides-navigation">
        <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
    </div>
</div>
<!-- End Slider -->


<!-- Start About Page  -->
<div class="about-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="banner-frame"><img class="img-fluid" src="images/suit8.jpg" alt=""/>
                </div>
            </div>
            <div class="col-lg-6">
                <h2 class="noo-sh-title-top"> <span>CÂU CHUYỆN THƯƠNG HIỆU</span></h2>
                <p>Gentle Suit cam kết mang đến cho khách hàng trải nghiệm may đo suit nhanh chóng
                    trong vòng 06 tiếng bằng phương pháp truyền thống kết hợp công nghệ hiện đại.
                    Chúng tôi không chỉ chú trọng vào tốc độ, mà còn đặt chất lượng dịch vụ lên
                    hàng đầu với phong cách phục vụ tận tâm, chu đáo và chuyên nghiệp. Chúng tôi
                    hiểu rằng mỗi bộ suit không chỉ là một bộ trang phục, mà còn là biểu tượng của
                    phong cách và cá nhân hóa, thể hiện sự tôn trọng và đẳng cấp của người mặc.!</p>
                <p>Với sự nỗ lực không ngừng nghỉ và lòng đam mê đối với nghệ thuật may đo,
                    Gentle Suit tự tin rằng sẽ trở thành thương hiệu suit may đo nhanh nhất
                    đầu tiên tại Việt Nam. Chúng tôi không chỉ dừng lại ở việc cung cấp những bộ suit
                    chất lượng, mà còn đặt mục tiêu đưa ngành may mặc Việt Nam lên một tầm cao mới.
                    Trong vòng 05 năm tới, chúng tôi sẽ nỗ lực hết mình để "đánh dấu" tên tuổi Việt Nam
                    trên bản đồ thời trang thế giới, khẳng định vị thế của chúng tôi trong top 10
                    thương hiệu hàng đầu toàn cầu.</p>
                <p>
                    Gentle Suit không chỉ tạo ra những bộ suit, mà còn là nơi khởi nguồn
                    của những câu chuyện phong cách, nơi khách hàng có thể tìm thấy sự tự tin và đẳng cấp
                    trong từng bộ trang phục. Hãy để chúng tôi đồng hành cùng bạn trên hành trình chinh phục
                    những đỉnh cao mới, với phong cách lịch lãm và sự tự tin tuyệt đối.</p>
                <!--<a class="btn hvr-hover" href="#">Read More</a>-->
            </div>
        </div>
        <div class="row my-5">
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <div class="box-number">01.</div>
                    <h2>May đo bộ suit chỉ trong vòng 6 tiếng</h2>
                    <p>Với công nghệ may đo tiên tiến, The Suits House
                        tự hào là nhãn hàng đầu tiên tại Việt Nam với
                        khả năng may đo 01 bộ suit nhanh nhất chỉ trong 06 tiếng</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <div class="box-number">02   .</div>
                    <h2>Dịch vụ bán hàng hài lòng nhất</h2>
                    <p>The Suits House đã và đang trên đường hoàn thành nhiệm vụ trở thành
                        thương hiệu mang lại trải nghiệm hài lòng nhất đến khách hàng cùng
                        phương châm: Phục vụ khách hàng như Người Nhà!</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <div class="box-number">03.</div>
                    <h2>May đo truyền thống và công nghệ</h2>
                    <p>Khác với những phương thức tư vấn bán hàng cơ bản, The Suits House
                        nay đã kết hợp với công nghệ hiện đại nhằm mang đến cho khách hàng
                        trải nghiệm mua sắm hoàn toàn mới lạ.</p>
                </div>
            </div>

        </div>
    </div>
</div>


<!-- Start Feed  -->
<div th:replace="~{fragments::instagram-box}">
</div>

<!-- End Feed  -->


<!-- Start Footer  -->
<footer th:replace="~{fragments::footer}">

</footer>


<!-- ALL JS FILES -->
<div th:replace="~{fragments::script}"></div>
</body>

</html>